{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body className="body-bg">
    <div className="header">
        <div className="header-font">
        <a href="{% url 'main' %}" className="mytag-a">  
        <img src="logo.svg" width="45" height="45" alt="Logo">
        <b>Maps</b> and roses
        </a>
    </div>
    </div>
    <div className="mycontainer">
        
        
        
    </div>
    <footer className="footer"> My Linkedin: </footer>
    
</body>
</html>
